@font-face {
  font-family: "BOSEHEADLINE";
  src: url("../assets/font/BoseHeadlineBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTREGULAR";
  src: url("../assets/font/BoseText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTMEDIUM";
  src: url("../assets/font/BoseText-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTBOLD";
  src: url("../assets/font/BoseTextBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-boseheadline: "BOSEHEADLINE", sans-serif;
  --font-bosetextregular: "BOSETEXTREGULAR", sans-serif;
  --font-bosetextmedium: "BOSETEXTMEDIUM", sans-serif;
  --font-bosetextbold: "BOSETEXTBOLD", sans-serif;
  --lighgrey-color: rgb(244, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  font-family: "BOSETEXTREGULAR", sans-serif;
  font-weight: 300;
}

button {
  padding: 0.9em 1.8em;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0.4em !important;
  font-family: var(--font-bosetextregular) !important;
}

/* Slick */

.slick-prev {
  left: 30px !important;
  z-index: 2;
}

.slick-next {
  right: 30px !important;
  z-index: 2;
}

.announcementBar {
  background-color: black;
  text-align: center;
}

.announcementBar p {
  padding: 1.2em;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.1em 1.5em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.navContainerInner1,
.navContainerInner2,
.navContainerInner3 {
  width: 33%;
}

.navList {
  margin: 0 !important;
  padding: 0 !important;
}

.navContainerInner1 .nav .navList {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9em;
}

.navContainerInner2 {
  display: flex;
  justify-content: center;
}

.navContainerInner3 {
  display: flex;
  justify-content: flex-end;
  gap: 1.6em;
}

/* Hero Section */

#hero {
  background-image: url("../assets/images/bgHero.jpg");
  background-repeat: no-repeat;
  background-position: top top;
  background-attachment: fixed;
  background-size: cover;
  height: 82dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5em 4em;
  color: white;
  gap: 1.2em;
}

.hero h1 {
  font-size: 6em;
  font-family: var(--font-boseheadline);
}

.hero h3 {
  letter-spacing: 0.1em;
  font-size: 1.4em;
  margin-bottom: 2em;
}

.hero button {
  padding: 0.9em 1.8em;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0.4em;
}

/* Categories Section */

.categoriesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  position: relative;
}

.categoryItem {
  width: 16%;
  background-color: var(--lighgrey-color);
  border-radius: 0.4em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-bosetextmedium);
  margin: 2px;
}

.slick-slide {
  margin: 6px;
}

/* Product Section */

.productSection {
  max-width: 1380px;
  margin: auto;
  font-family: var(--font-boseheadline);
  font-size: 2.5em;
  margin-top: 2.6em;
}

.productContainer {
  margin-top: 1em;
}

.productCard {
  width: 24% !important;
  background-color: var(--lighgrey-color);
  border-radius: 0.4em;
  padding: 0.7em;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.productCard h6 {
  font-family: var(--font-bosetextregular);
  font-size: 1.3em;
  margin: 1em 0;
  line-height: 1.5em;
}

.productCard button {
  background-color: transparent;
  padding: 0.6em;
  width: 100%;
  border: 1px solid black;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  border-radius: 0.4em;
  font-family: var(--font-bosetextmedium);
}

.productCard button:hover {
  background-color: black;
  color: white;
}

/* Featured Products */

.featured1 {
  background-image: url("/assets/images/featured1.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 6em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.featured1 h2 {
  font-size: 3.8em;
  color: white;
  margin-top: 5em;
}

.featured1 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.featured1 button {
  margin-top: 4em;
}

.featured2Container {
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
}

.featured2 {
  background-image: url("/assets/images/featured2.webp");
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  /* background-attachment: fixed; */
  padding: 4em 6em;
  margin-top: 2em;
  border-radius: 0.4em;
  width: 48%;
}

.featured2 h2 {
  font-size: 3.8em;
  color: white;
  margin-top: 5em;
}

.featured2 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.featured2 button {
  margin-top: 4em;
}

.featured3 {
  background-image: url("/assets/images/featured3.webp");
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  /* background-attachment: fixed; */
  padding: 4em 6em;
  margin-top: 2em;
  border-radius: 0.4em;
  width: 48%;
}

.featured3 h2 {
  font-size: 3.8em;
  color: white;
  margin-top: 5em;
}

.featured3 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.featured3 button {
  margin-top: 4em;
}

/* Blog */

.carousalBlogs {
  max-width: 1380px;
  margin: auto;
  font-family: var(--font-boseheadline);
  font-size: 2.5em;
  margin-top: 2.6em;
}

.carousalBlogs p {
  font-size: 0.4em;
  font-family: var(--font-bosetextregular);
}

.blog {
  background-image: url("/assets/images/BOSESTORIES.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 6em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.blog h2 {
  font-size: 4.8em;
  color: white;
  margin-top: 5em;
}

.blog p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.blog button {
  text-transform: uppercase;
}

.blog2 {
  background-image: url("/assets/images/BOSESTORIES2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 6em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.blog2 h2 {
  font-size: 4.8em;
  color: white;
  margin-top: 5em;
}

.blog2 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.blog2 button {
  text-transform: uppercase;
}

.blog3 {
  background-image: url("/assets/images/BOSESTORIES3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 6em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.blog3 h2 {
  font-size: 4.8em;
  color: white;
  margin-top: 5em;
}

.blog3 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.blog3 button {
  text-transform: uppercase;
}

.blog4 {
  background-image: url("/assets/images/BOSESTORIES4.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 6em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.blog4 h2 {
  font-size: 4.8em;
  color: white;
  margin-top: 5em;
}

.blog4 p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.blog4 button {
  text-transform: uppercase;
}

.whyFrom {
  max-width: 1380px;
  margin: auto;
  font-family: var(--font-bosetextregular);
  margin-top: 2.6em;
}

.whyFrom h2 {
  font-family: var(--font-boseheadline);
}

.service_item img {
  background-color: var(--lighgrey-color) !important;
  padding: 2em;
  width: 6em;
}

.service_item h6 {
  font-size: 1.2em;
  margin-top: 1.1em;
  font-family: var(--font-bosetextmedium);
}

.service_item p {
  font-size: 1em;
}
.drive {
  background-image: url("/assets/images/drive.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 4em 2em;
  margin-top: 3em;
  border-radius: 0.4em;
}

.drive h2 {
  font-size: 3.8em;
  color: white;
  margin-top: 6em;
}

.drive p {
  font-family: var(--font-bosetextregular);
  font-size: 1.5em;
  color: white;
}

.drive button {
  text-transform: uppercase;
}

footer {
  font-family: var(--font-bosetextmedium);
}
