@font-face {
  font-family: "BOSEHEADLINE";
  src: url("../assets/font/BoseHeadlineBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTREGULAR";
  src: url("../assets/font/BoseText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTMEDIUM";
  src: url("../assets/font/BoseText-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOSETEXTBOLD";
  src: url("../assets/font/BoseTextBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-boseheadline: "BOSEHEADLINE", sans-serif;
  --font-bosetextregular: "BOSETEXTREGULAR", sans-serif;
  --font-bosetextmedium: "BOSETEXTMEDIUM", sans-serif;
  --font-bosetextbold: "BOSETEXTBOLD", sans-serif;
  --lighgrey-color: rgb(244, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "BOSETEXTREGULAR", sans-serif;
  font-weight: 300;
}

.announcementBar {
  background-color: black;
  text-align: center;
}

.announcementBar p {
  padding: 1.2em;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.1em 1.5em;
  position: sticky;
  top: 0;
  background-color: white;
}

.navContainerInner1,
.navContainerInner2,
.navContainerInner3 {
  width: 33%;
}

.navList {
  margin: 0 !important;
  padding: 0 !important;
}

.navContainerInner1 .nav .navList {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
  text-transform: uppercase;
}

.navContainerInner2 {
  display: flex;
  justify-content: center;
}

.navContainerInner3 {
  display: flex;
  justify-content: flex-end;
  gap: 1.6em;
}

/* Hero Section */

#hero {
  background-image: url("../assets/images/bgHero.jpg");
  background-repeat: no-repeat;
  background-position: top top;
  background-attachment: fixed;
  background-size: cover;
  height: 82dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5em 4em;
  color: white;
  gap: 1.2em;
}

.hero h1 {
  font-size: 6em;
  font-family: var(--font-boseheadline);
}

.hero h3 {
  letter-spacing: 0.1em;
  font-size: 1.4em;
  margin-bottom: 2em;
}

.hero button {
  padding: 0.9em 1.4em;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0.4em;
}

/* Categories Section */

.categoriesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  position: relative;
  padding: 0 1em;
}

.categoryItem {
  width: 16%;
  background-color: var(--lighgrey-color);
  border-radius: 0.4em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-bosetextmedium);
  margin: 2px;
}

.slick-slide {
  margin: 6px;
}

/* Product Section */

.productSection {
  max-width: 1380px;
  margin: auto;
  font-family: var(--font-boseheadline);
  font-size: 2.5em;
  margin-top: 2.6em;
}

.productContainer {
  margin-top: 1em;
  display: flex;
  gap: 10px;
}

.productCard {
  width: 24%;
  background-color: var(--lighgrey-color);
  border-radius: 0.4em;
  padding: 0.7em;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.productCard h6 {
  font-family: var(--font-bosetextregular);
  font-size: 0.5em;
  margin: 1em 0;
  line-height: 1.5em;
}

.productCard button {
  background-color: transparent;
  padding: 1.2em;
  width: 100%;
  border: 1px solid black;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  border-radius: 0.4em;
}

.productCard button:hover {
  background-color: black;
  color: white;
}
